<div class="text-center mb-4">
  <h1>写真を投稿する</h1>
</div>
  
<div class="row">
  <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
     
    <%= form_with(model: @post, local: true) do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
      
      <div class="form-group row mb-4">
        <%= f.label :photo, "写真を選択する", class: "custom-file-label", style: "display: none;" %>
        <%= f.file_field :photo, style: "form-control-file" %>
        <span class="text-secondary" style="font-size: small;">※JPEGファイルのみアップロード可能<br>※画像の幅は1110px以上を推奨</span>
      </div>
      
      <div class="form-group row">
        <%= f.label :title, "写真のタイトル", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control" %>
          <span class="text-secondary" style="font-size: small;">※最大50文字</span>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :explanation, '写真の説明', class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.text_area :explanation, class: 'form-control' %>
          <span class="text-secondary" style="font-size: small;">※最大255文字</span>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :waterfall, "滝の名称", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.text_field :waterfall, class: "form-control" %>
          <span class="text-secondary" style="font-size: small;">※最大50文字</span>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :prefecture_id, "撮影場所", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "↓都道府県を選択"}, {class: "form-control"} %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :use_exif, "写真のExif情報", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8 pt-2">
          <%= f.radio_button :use_exif, true %>
          <%= f.label :use_exif, "使用する", {value: true, style: "display: inline-block;", class: "align-middle"} %>
          <%= f.radio_button :use_exif, false %>
          <%= f.label :use_exif, "使用しない", {value: false, style: "display: inline-block;", class: "align-middle"} %>
        </div>
      </div>
      
      <div class="text-center mb-4">
        <%= f.submit '投稿する', class: 'btn btn-primary btn-lg mr-1' %>
        <%= link_to "キャンセル", :back, class: "btn btn-light btn-lg ml-1" %>
      </div>
    <% end %>
  </div>
</div>