<div class="d-flex justify-content-center">
    <%= cl_image_tag(@post.photo, :width=>1110, :angle=>0, :alt=>@post.title, class: "img-fluid") %>
</div>

<div>
  <% unless current_user == nil %>
    <% if current_user == @post.user %>
      <div class="d-flex justify-content-between">
        <%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "投稿を削除", @post, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-outline-danger btn-sm" %>
      </div>
    <% else %>
      <%= render "favorites/favorite_button", pst: @post %>
    <% end %>
  <% end %>
<span class="text-warning">★</span>×<%= @count_posts%>
</div>
  
<div class="text-center mb-4">
  <h1><%= @post.title %></h1>
</div>

<div class="text-center mb-4">
  <p><%= @post.explanation %></p>
</div>

<div class="row">
  <table class="col-md-6 table table-bordered text-center">
    <tbody>
      <tr>
        <th class="align-middle">投稿者</th>
        <td>
          <%= cl_image_tag(@post.user.icon_photo, :width=>50, :height=>50, :gravity=>"auto", :crop=>"fill", :alt=>"icon") %>
          <%= link_to @post.user.name, @post.user %>
        </td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @post.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>滝の名称</th>
        <td><%= @post.waterfall %></td>
      </tr>
      <tr>
        <th>撮影場所</th>
        <td><%= @post.prefecture.name %></td>
      </tr>
      <tr>
        <th>撮影日</th>
        <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.taken_at == nil %>
            データなし
          <% else %>
            <%= @post.taken_at.strftime("%Y/%m/%d %H:%M:%S") %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>露光時間</th>
        <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.shutter_speed == (nil || 0) %>
            データなし
          <% elsif @post.shutter_speed.to_f < 0.01  %>
            <%= @post.shutter_speed.to_s.to_r %> s
          <% elsif @post.shutter_speed.to_f < 0.5  %>
            <%= ((@post.shutter_speed*3*13*100).to_i.to_r)/3/13/100 %> s
          <% elsif @post.shutter_speed.to_f <= 1  %>
            <%= @post.shutter_speed.to_f %> s
          <% else %>
            <%= @post.shutter_speed.to_i %> s
          <% end %>
        </td>
      </tr>
      <tr>
        <th>絞り値</th>
        <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.f_number == (nil || 0) %>
            データなし
          <% elsif @post.f_number.to_f == @post.f_number.to_i %>
            f / <%= @post.f_number.to_i %>
          <% else %>
            f / <%= @post.f_number.to_f %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>焦点距離</th>
        <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.focal_length == (nil || 0) %>
            データなし
          <% else %>
            <%= @post.focal_length.to_i %> mm
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ISO感度</th>
          <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.iso == (nil || 0) %>
            データなし
          <% else %>
            <%= @post.iso.to_i %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>カメラ</th>
        <td>
          <% if @post.use_exif == false %>
            -
          <% elsif @post.camera == nil %>
            データなし
          <% else %>
            <%= @post.camera %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-6">
    <h4 class="text-center">写真へのコメント</h4>
    <% @post.post_comments.each do |c| %>
      <li class="mx-2 my-2 list-unstyled">
        <div><%= link_to c.user.name, c.user %></div>
        <div class="ml-2"><%= c.comment %></div>
        <div class="ml-2" style="font-size: small;">
          <%= c.created_at.strftime("%Y/%m/%d %H:%M") %>
          <% if current_user == c.user %>
            <span><%= link_to "コメント編集", edit_post_comment_path(c), class: "btn btn-outline-secondary btn-sm" %></span>
            <span><%= link_to "コメントを削除", c, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-outline-danger btn-sm" %></span>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if logged_in? %>
      <%= form_with(model: @post_comment, local: true) do |f| %>
        <div class="form-group row mt-4 mx-2 mb-0">
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.label :conmment, "新規コメント", class: "form-label" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div>
          <span class="text-secondary ml-3" style="font-size: small;">※最大255字</span>
          <span>
            <%= f.submit '投稿する', class: 'btn btn-primary btn-sm mt-1 mr-3 float-right' %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>